.register_container
{
    display : grid;
    position : absolute;
    top : 30%;
    left : 50%;
    transform : translate(-50%,-30%);
}

.register_container h1 
{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align : center;
    font-size : 2.5rem;
    color : #178543;
}

.register_container form 
{
    display : grid;
    grid-template-columns : 1fr;
    margin-top : 1rem;
}